﻿@model string
@{
    ViewBag.Title = "Grapher";
}

<h2>@ViewBag.Name</h2>

<p>
    Packed .7z file
</p>

<input type="file" id="file" accept=".7z" />

<br />

<p>
    Maximum vertex count
</p>

<input type="text" id="vertCount" />

<br />
<br/>

<button id="send" disabled="true">Send</button>

<br />
<br/>
<br />

<p>
    Status: <text id="status"></text>
</p>

<br />

<p>
    Result: <textarea id="result" style="width: 100%; height: 100%; border: none;"></textarea>
</p>

<script src="~/signalr/js"></script>
<script>
    if (!(window.File && window.FileReader && window.FileList && window.Blob)) {
        alert("File api is not supported\n\nRedirecting to main page");
        window.location.href = "@Url.Action("Index", "Home")";
    }
    var proxy = $.connection.graphHub;

    proxy.client.result = function (result, msgList) {
        var end = new Date().getTime();
        var elapsed = new Date(end - start);
        var time = elapsed.getMinutes() + " min " + elapsed.getSeconds() + " sec " + elapsed.getMilliseconds() + " ms";
        var list = "";

        $.each(msgList, function (index, value) {
            list = list + "\n" + value + "\n";
        });

        var msg = "Elapsed time: " + time + "\n\nComputation result: " + result + "\n\nMessages:\n" + list;
        
        $("#status").text("Computed");
        $("#result").text(msg);
    };

    $.connection.hub.start()
        .done(function () {
            $("#send").removeAttr("disabled");
            $("#status").text("Connected");
        })
        .fail(function () {
            alert("Failed to connect to cluster\n\nRedirecting to main page");
            window.location.href = "@Url.Action("Index", "Home")";
        });

    var data;
    var bf;
    var res = [];
    var dataLimit = 10000;
    var start;

    $("#send").click(function (eq) {
        $("#result").text("");

        var files = $("#file").prop("files");

        var verts = $("#vertCount").val();

        if (files.length === 0 || !$.isNumeric(verts))
            return;

        var file = files[0];
        var dotPos = file.name.lastIndexOf('.');
        var extension = file.name.substring(dotPos);

        if (extension !== ".7z") {
            alert("File must be in .7z format");
            return;
        }

        var verticesCount = parseInt(verts);

        if (verticesCount <= 0) {
            alert("Vertices count must be positive integer");
            return;
        }

        $("#status").text("loading file");

        start = new Date().getTime();

        var reader = new FileReader();

        reader.onload = function (e) {
            data = reader.result;
            bf = new Uint8Array(data);
            var length = bf.length;
            var len = length;
            var additionalData = len > dataLimit;
            var part = 1;
            var pos = dataLimit;

            if (additionalData)
                len = dataLimit;

            for (var i = 0; i < len; ++i)
                res[i] = bf[i];

            function sendAdditionalData() {
                if (additionalData) {
                    res = [];
                    pos = part * dataLimit;
                    len = length - pos;
                    additionalData = len > dataLimit;
                    ++part;

                    if (additionalData)
                        len = dataLimit;

                    for (var i = 0; i < len; ++i)
                        res[i] = bf[pos + i];

                    proxy.server.additionalData(res, additionalData).done(sendAdditionalData());
                }
                else
                    $("#status").text("Send");
            }

            $("#status").text("Sending");

            proxy.server.compute("@Model", verticesCount, res, additionalData).done(sendAdditionalData());
        };
        reader.readAsArrayBuffer(file);
    });
</script>
