﻿@{
    ViewBag.Title = "Grapher";
}

<h1>Welcome to Grapher cluster</h1>

<br/>

<h3>Choose algorithm</h3>

<br />

<h4>@Html.ActionLink("Minimum spanning tree", "Algorithm", new {algorithmName = "minimumspanningtree"})</h4>

<br />

<h4>@Html.ActionLink("Dijkstra", "Algorithm", new {algorithmName = "dijkstra"})</h4>

<br />

<h4>@Html.ActionLink("BFS", "Algorithm", new { algorithmName = "bfs" })</h4>